<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/profile.css') }}">
</head>

<body>
    <img src="{{gc}}" style="width: 200px; height: 200px; border-radius: 50px;">
    <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
        <input type="text" name="nameSTUDENT" placeholder="Name"><br>
        <input type="file" name="file" /><br>
        <input type="submit" />
    </form>

    <center id="dp">
        <h1>Full Name: {{students.name}}</h1>
        <p>Student ID: {{students.stu_id}}</p>
        <p>Age: {{students.age}}</p>
        <p>Mobile: {{students.mobile}}</p>
    </center>
</body>

</html>