<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
</head>

<body>
    <!-- <div id="main"> -->

    <div class="box">

    </div>
    <center>
        <div id="maindiv">
            <center>
                <h1>Registeration Page</h1>

                <form action="/register" method="POST">
                    <label for="name" id="label1">Student Name</label><br>
                    <input type="text" name="name" placeholder="Name" required>
                    <br>
                    <label for="stu_id" id="label2">Student ID</label><br>
                    <input type="text" name="stu_id" placeholder="Student ID" required>
                    <br>
                    <label for="age" id="label3">Age</label><br>
                    <input type="number" name="age" placeholder="Age" required>
                    <br>
                    <label for="mobile" id="label4">Phone Number</label><br>
                    <input type="number" name="mobile" placeholder="Phone Number" required>
                    <br>
                    <input type="submit" value="Register" id="Reg">
                </form>
            </center>
        </div>
    </center>
    <!-- </div> -->
</body>

</html>