<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <h1>{{students.name}}</h1>
    <p>{{students.stu_id}}</p>
    <p>{{students.age}}</p>
    <p>{{students.mobile}}</p>

    <button><a href="/fee/{{students.ID}}">Update Fee</a></button>
    <button><a href="/course/{{students.ID}}">Update Courses</a></button>
    <button><a href="/exams/{{students.ID}}">Update Exams</a></button>

    <table>
        <tr>
            <th>Amount</th>
            <th>Type</th>
        </tr>
        {% for payment in payments %}
        <tr>
            <td>{{payment.amount}}</td>
            <td>{{payment.type}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>Course-name</th>
            <th>Course-code</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course.course_name}}</td>
            <td>{{course.course_type}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <th>Course-code</th>
            <th>Exam-type</th>
            <th>Exam-score</th>
        </tr>
        {% for exam in exams %}
        <tr>
            <td>{{exam.exam_code}}</td>
            <td>{{exam.exam_type}}</td>
            <td>{{exam.exam_score}}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- <table>
        <tr>
            <th>Picture</th>
        </tr>
        {% for profile in profiles %}
        <tr>
            <td>{{profile.profile}}</td>
        </tr>
        {% endfor %}
    </table> -->
</body>

</html>